[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = patrick.bruns@offis.de
	name = Patrick Bruns
[init]
	defaultBranch = main
[core]
	autocrlf = input
