@define-color bg rgba(39, 46, 51, 0.9);
@define-color fg #d3c6aa;
@define-color accent #a7c080;
@define-color bg_alt rgba(52, 63, 68, 0.8);
@define-color border #4f5b58;

* {
    font-family: 'CaskaydiaCove Nerd Font';
    font-size: 15px;
}

window {
    margin: 0px;
    padding: 12px;
    border: 2px solid @accent;
    border-radius: 10px;
    background-color: @bg;
}

#outer-box {
    margin: 5px;
    border: none;
}

#input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid @border;
    border-radius: 6px;
    color: @fg;
    background-color: @bg_alt;
}

#inner-box {
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    color: @fg;
}

#img {
    margin-right: 12px;
}

#entry {
    padding: 10px;
    border-radius: 6px;
}

#entry:selected {
    background-color: @accent;
}

#entry:selected #text {
    color: @bg;
    font-weight: bold;
}
